<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>HCJI</title>
<meta name="keywords" content="Harvard Japan Student Organization Campus Tour" />
<meta name="description" content="HCJI is a student-run organization dedicated to fostering greater interaction and understanding between students from the U.S. and Japan. " />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />
<%= favicon_link_tag 'favicon.png' %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>

<body>

<div id="header" class="container">
	<div id="logo">
<!--     	<span class="icon icon-cog"></span>  -->
    	<img src="assets/logo.png" alt="" />
		<h1><%= link_to "Harvard College Japan Initiative", root_path %></h1>
	</div>
	<div class="no-js" id="menu">
        <nav id="topNav">
            <ul>
            	<li><%= link_to "Home", root_path %></li>
            	<li><%= link_to "Who We Are",   whoweare_path %></li>
            	<li><%= link_to "What We Do",   whatwedo_path %></li>
                    <ul>  
                        <li><%= link_to "whatwedo#h-lab",   whatwedo_path %></li>
                        <li><%= link_to "whatwedo#hcf",   whatwedo_path %></li>
                        <li><%= link_to "whatwedo#explore",   whatwedo_path %></li>
                        <!-- <li><a href="static_pages/whatwedo#h-lab" title="H-LAB">H-LAB</a></li>
                        <li><a href="static_pages/whatwedo#hcf" title="Career Forum">Career Forum</a></li>
                        <li><a href="static_pages/whatwedo#explore" title="HCJI Explore">HCJI Explore</a></li> -->
                    </ul>                
                </li>
                <li><%= link_to "Connect with Us",  connect_path %></li>
            </ul>
        </nav>
        <script src="js/jquery.js"></script>
        <script src="js/modernizr.js"></script>
    </div>
</div>


<%= yield %>


<div id="copyright">
	<p>&copy; Harvard College Japan Initiative. All rights reserved.<br>Created by <a href="https://www.linkedin.com/in/kojinoshiba" rel="nofollow">Kojin Oshiba '18</a> & <a href="">Masahiro Kusunoki '17</a>.</p>
	<ul class="contact">
		<li><a href="https://www.facebook.com/HarvardCollegeJapanInitiative?fref=ts" class="icon icon-facebook"><span>Facebook</span></a></li>
		<li><a href="https://twitter.com/HCJIComm" class="icon icon-twitter"><span>Twitter</span></a></li>
	</ul>
</div>

</body>
</html>
